*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: arial;
    outline: none;
    transition: .6s;
    color: white;
}
body{
    background-color:darkgray;
    padding: .2rem;
}

h1{
    margin-bottom: 1rem;
    text-decoration: underline;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}
.input{
    width: 200px;
    height: 20px;
    font-size: 1rem;
    border: 2px solid rgb(31, 67, 145);
    color:rgb(243, 242, 241);
    border-top: none;
    background: darkgray;
    border-left: none;
    border-right: none;
    outline: none;
    }
input{
    margin-bottom: 10px;
}
#date{
    color: blue;
    font-size: 1rem;
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: rgb(179, 226, 241);
}
#btn{
    width: 100px;
    border-radius: 10px;
    border: 1px solid green;
    outline: none;
    color: white;
    background-color: rgb(11, 206, 11);
    transition: .6s;

}
#btn:disabled{
    background-color:rgb(119, 173, 119);
    color: rgb(180, 175, 175);
}
#btn:disabled:hover{
    box-shadow: none;
}
#btn:disabled:active{
    background-color: rgb(119, 173, 119);
}
#btn:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
#btn:active{
    background-color: black;
}
#items{
    padding: 1rem;
    background-color: #333;
    width: 50%;
    margin: auto;
    color: white;
    border-radius: 10px;
    min-height: 5rem;
    margin-bottom: 1rem;
}
.delete{
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(28, 113, 211);
    font-size: 1rem;
    font-weight: bolder;
    background-color: transparent;
    color: rgb(248, 52, 52);
}
#rest{
    width: 200px;
    margin-bottom: 1rem;
    border: 1px solid rgba(95, 5, 5, 0.445);
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: rgb(240, 9, 9);
    padding: .2rem
}
#rest:disabled{
    background-color: rgba(104, 2, 2, 0.514);
    color: rgb(100, 95, 95);
}
#rest:hover{
    transform: scale(1.1);
}
h6{
    float: right;
    font-style: italic;
    color: rgb(237, 248, 234);
    font-size: .7rem;
    text-decoration: overline underline;
    margin:10px;
}
p{
    font-size: 1.1rem;
    text-align: left;
}
h4{
    font-style: italic;
    font-size: .75rem;
    font-weight: 100;
}

@media (max-width:799px){
    #items{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .major{
        width: 98%;
        margin: auto;
        padding: .2rem;
        margin-top: 10%;
    }
    #rest:hover{
        transform: scale(1);
    }
}
